# Unity
hexa-sort/[Ll]ibrary/
hexa-sort/[Tt]emp/
hexa-sort/[Oo]bj/
hexa-sort/[Bb]uilds?/
hexa-sort/[Ll]ogs/
hexa-sort/[Uu]ser[Ss]ettings/

# OS / IDE
.DS_Store
.idea/
.vs/
*.iml
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb

# Rider/VS/Unity files
hexa-sort/*.csproj
hexa-sort/*.sln
hexa-sort/*.unityproj
hexa-sort/*.DotSettings

# Misc
hexa-sort/*.log
